<section class="encounters">

  <header class="title">
    <h1>Recent Encounters
    <span>See an Alien? Report it!</span>
    </h1>
  </header>

  <section class="encounter-reports">
    <div class="list-reports" *ngFor="let encounter of encounters">
      <p class="date-alien">{{encounter.date}} - {{encounter.atype}}</p>
      <p class="action">{{encounter.action}}</p>
    </div>
  </section>

  <footer>
    <button [routerLink]="['/report']">Report Encounter!</button>
  </footer>

</section>
